<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoJYe7ABYUOFucETCpFUQTnTdCsMo0JHw</string>
	<key>GCM_SENDER_ID</key>
	<string>647736437102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inkquestTravissimmons</string>
	<key>PROJECT_ID</key>
	<string>inkquest-ts</string>
	<key>STORAGE_BUCKET</key>
	<string>inkquest-ts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647736437102:ios:a889956d3667680366f97f</string>
</dict>
</plist>